{% extends "layout.html" %}

{% block main %}


<body>
    <h2 class="titulo-estilizado">My Portafolio</h2>
    <table class="table-acciones">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Purchase Price</th>
                <th>Daily Return (%)</th>
                <th>Total Return (%)</th>
                <th>Total Current Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>${{ "%.2f"|format(stock.current_price) }}</td>
                <td>${{ "%.2f"|format(stock.purchase_price) }}</td>
                <td>{{ "%.2f"|format(stock.daily_return) }}%</td>
                <td>{{ "%.2f"|format(stock.total_return) }}%</td>
                <td>${{ "%.2f"|format(stock.total_current_value) }}</td>
            </tr>
            {% endfor %}
            <!-- Filas para saldo en efectivo y valor total -->
            <tr>
                <td colspan="6"><strong>Saldo en Efectivo</strong></td>
                <td>${{ "%.2f"|format(cash) }}</td>
            </tr>
            <tr>
                <td colspan="6"><strong>Valor Total (Efectivo + Acciones)</strong></td>
                <td>${{ "%.2f"|format(total_value) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a href="/history" class="btn btn-info">Ver Historial de Compras</a>
    </div>

</body>

{% endblock %}
