{% extends "layout.html" %}

{% block title %}
Detalles de {{ symbol }}
{% endblock %}

{% block main %}
<body>

    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
  {
  "width": 1200,
  "height": 300,
  "isTransparent": false,
  "colorTheme": "light",
  "symbol": "{{ symbol }}",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script type="text/javascript">
          new TradingView.widget(
            {
              // otras configuraciones
              "symbol": "{{ symbol }}",
              // más configuraciones
            }
          );
        </script>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
        {
        "width": "1300",
        "height": "800",
        "symbol": "{{ symbol }}",
        "interval": "W",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "withdateranges": true,
        "allow_symbol_change": true,
        "calendar": false,
        "studies": [
          "STD;24h%Volume",
          "STD;Volatility_Stop"
        ],
        "support_host": "https://www.tradingview.com"
      }
        </script>
      </div>
      <!-- TradingView Widget BEGIN -->
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1h",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "{{ symbol }}",
            "showIntervalTabs": true,
            "displayMode": "single",
            "locale": "en",
            "colorTheme": "light"
            }
          </script>
        </div>
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
  {
  "isTransparent": false,
  "largeChartUrl": "",
  "displayMode": "regular",
  "width": 400,
  "height": 550,
  "colorTheme": "light",
  "symbol": "{{ symbol }}",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
{% endblock %}
